<main>
  <div>
    <form (ngSubmit)="procurar()" [formGroup]="formulario">
      <img src="../assets/logo.png" alt="">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Postal Code</mat-label>
        <input matInput #postalCode maxlength="8" placeholder="Digite seu cep" value="" formControlName="inputCep">
        <mat-hint align="end">{{postalCode.value.length}} / 8 </mat-hint>
      </mat-form-field>
      <button>
        <mat-icon>search</mat-icon>
      </button>
    </form>

  </div>
</main>